-r requirements.txt

bandit>=1.9,<2
cyclonedx-bom>=7,<8
pefile>=2024.8.26; sys_platform == "win32"
pip-audit>=2.10,<3
pyinstaller>=6.22,<7
pywin32-ctypes>=0.2.3,<1; sys_platform == "win32"
ruff>=0.12,<1
